<!DOCTYPE html>
<html lang="en">
<head>
    <title>Burgs4dayz</title>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.mi.js"></script>               
    <script src="Assets/jquery.js"></script>
    {{!-- <script src="https://code.jquery.com/jquery.js"></script> --}}
    {{!-- bootstrap --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    {{!-- JqueryCDN --}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
    {{!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> --}}
    {{!-- CSS --}}
    <link rel="stylesheet" href="Assets/style.css" type="text/css"></script>
</head>
<body>
    {{{body}}}
{{!-- add in script tags and css link --}}
</body>
</html>